@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$main-color: #6DFAA5;
$background-color: #262A2B;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Page grid layout.
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid:
        'forecast ... images' 1fr
        'current ... images' 3fr
        'search ... images' 1fr /
        1fr 200px 1fr;
    
    .forecast-container {
        grid-area: forecast;
        place-self: center;
    }

    .current-data-container {
        grid-area: current;
        place-self: center;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        grid:
            'title' 100px
            'today' 1fr /
            1fr;

        .city-name {
            grid-area: title;
        }

        .weather-today {
            grid-area: today;
            place-self: center;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            grid:
                'description temp' 1fr
                'wind humidity' 1fr /
                1fr 1fr;
            }
    }
    
    form {
        grid-area: search;
        place-self: center;
    }
}



// Styling.
body {
    background: $background-color;
    color: $main-color;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
}

.forecast-container {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-bottom: 50px;

    >li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Lobster Two', cursive;

        border: 1px solid $main-color;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: relative;

        h3 {
            position: absolute;
            top: calc(100% + 5px);
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.current-data-container {
    h1 {
        font-size: 2.5rem;
        font-family: 'Lobster Two', cursive;
        position: relative;
        width: 100%;
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            bottom: calc(0px - 15px);
            left: 0;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid $main-color;
        }
    }
}


form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    input {
        width: 100%;
        color: $main-color;
        background: $background-color;
        border: 1px solid $main-color;
        height: 30px;
        text-align: center;
        
        &::placeholder {
            text-align: center;
        }
        
        &:focus, &:focus-visible {
            color: $main-color;
            background: $background-color;
            outline: none;
            border-width: 1.5px;
        }
    }

    button {
        position: absolute;
        right: 0;
        top: calc(100% + 20px);

        font-family: 'Lobster Two', cursive;
        color: $main-color;
        background: none;
        border: none;
        font-size: 1.25rem;
        cursor: pointer;
        
        &:hover {
            border-bottom: 1px solid $main-color;
        }
    }
}

.hide {
    display: none;
}